<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Entradas de Mercancia</title>
</head>

<body>
    <header>
        <h1>
            <span>Entradas de Mercancia</span>
        </h1>
        <div class="decoracion"></div>
        <a href="/" id="menu"><img src="/img/menu.png" alt="Menu principal"></a>
    </header>

    <main>
        <div class="contenedor">
            <a href="/agregarEntrada" id="boton">Agregar producto</a>
                <table>
                    <tr>
                        <th>Id</th>
                        <th>Sku</th>
                        <th>Fecha de entrega</th>
                        <th>Proveedor</th>
                        <th>Cantidad</th>
                        <th>Precio de compra</th>
                        <th>Acciones</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <a href=""><img src="/img/editar.png" alt="Editar" id="icon"></a>
                            <a href=""><img src="/img/eliminar.png" alt="Eliminar" id="icon"></a>
                        </td>
                    </tr>
                </table>
        </div>
    </main>
    <footer>
        @2025 ariadna-ge. Todos los derechos reservados
    </footer>
</body>

</html>