@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --rosa-apagado: #765d67;
    --magenta-oscuro: #4b2138;
    --magenta-claro: #6d3c52;
    --rosa-neon: #2d222f;
    --naranja-claro: #fadcd5;
    --negro: #000;
    --blanco: #fff;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--magenta-oscuro);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

#icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background-color: var(--naranja-claro);
    padding: 30px;
    margin: 10px 10px 10px 10px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
}

.form-group {
    margin-bottom: 5px;
}

.form-group label {
    display: block;
    font-weight: 600;
    color: var(--rosa-neon);
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--naranja-claro);
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    color: var(--negro);
    transition: border-color 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
    border-color: var(--magenta-claro);
    outline: none;
    box-shadow: 0 0 0 3px var(--rosa-apagado);
}

.form-group textarea {
    resize: vertical;
    height: 40px;
}

button {
    font-family: "Poppins", sans-serif;
    width: 30%;
    padding: 15px;
    background-color: var(--magenta-oscuro);
    color: var(--blanco);
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: var(--magenta-claro);
    transform: translateY(-2px);
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas */
    gap: 20px 40px; /* espacio entre filas y columnas */
    margin-bottom: 30px;
}

.button-container {
    display: flex;
    justify-content: center;
}
